.mobile-view .badge-wrapper.bullet .badge-category-parent-bg, {
    display: none;
    width: 9px !important;
    .categories-list .subcategories-list td {
    padding-top: 20;
}
    
}




.mobile-view .badge-wrapper.bullet .badge-category-bg {
    background-color: transparent !important;
    content: url("https://www.nicepng.com/png/full/1-18892_bullets-png-image-gun-bullet-png.png");
    width: 25px  !important;
    height:11px;
}