.badge-wrapper.bullet .badge-category-parent-bg, {
    display: none;

}
    

.badge-wrapper.bullet .badge-category-bg {
    content: url("https://www.nicepng.com/png/full/1-18892_bullets-png-image-gun-bullet-png.png");
    width: 20px  !important;
    height:9px !important;
    background-color: transparent !important;
}



